
#comments__section form {
	position: relative;
}

.comments_loader {
	display: none;
	position: absolute;
	top: 0; right: 0;
	bottom: 0; left: 0;
	background: rgba(255,255,255,0.8);
}

.comments_loader span {
	position: absolute;
	text-align: center;
	width: 100%;
	top: 50%;
	margin-top: -10px
	line-height: 20px;
	font-size: 12px;
}

.comment-hold,
.comment-spam {
	opacity: 0.4;
}

.comment-hold:hover,
.comment-spam:hover {
	opacity: 1;
}

#comments__status .alert-box {
	display: none;
}

.comments__form_container .alert-box a.close {
	text-decoration: none;
}